<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <h1>Delete Phone</h1>
</header>
<body>

<div class="glyphicon-text-background ">delete some phone by id number</div>
<form action="/deletePhone" method="post">
<p>Id Number: <input type="text" name="id"/></p>
<p><input type="submit" value="Submit"/><input type="reset" value="Reset" /></p>
</form>
</body>
</html>