<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Choose your phoneForm</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<header>
    <h1>Phones</h1>
</header>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Menu</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div align="middle">
    <table class="table" border="5">
        <tr class="tab-content">
            <th>id</th>
            <th>model</th>
            <th>picture_id</th>
            <th>color</th>
            <th>price</th>
            <th>size</th>
            <th>diagonal</th>
            <th>description</th>
            <th>creation date</th>
            <th>picture</th>
        </tr>
        <tr th:each="phoneForm : ${phones}">
            <td th:text="${phoneForm.getId()}">...</td>
            <td th:utext="${phoneForm.getModelCharacteristics().getModelId()}">...</td>
            <td th:utext="${phoneForm.getPictures().getModelId()}">...</td>
            <td th:utext="${phoneForm.getColor()}">...</td>
            <td th:utext="${phoneForm.getPrice()}">...</td>
            <td th:utext="${phoneForm.getModelCharacteristics().getSize()}">...</td>
            <td th:utext="${phoneForm.getModelCharacteristics().getDiagonal()}">...</td>
            <td th:utext="${phoneForm.getModelCharacteristics().getDescription()}">...</td>
            <td th:utext="${phoneForm.getDate()}">...</td>
            <td>
                <img width="190" height="190"
                     th:src="@{'data:image/jpeg;base64,'+${phoneForm.getPictures().getEncodePictures()}}" alt=""/>
            </td>

        </tr>


    </table>
    <div >


        <p><button   class="arrow-button" onclick="location.href='/addPhone'">Add Phone</button>
            <button   class="arrow-button" onclick="location.href='/deletePhone'">Delete Phone</button>
        </p>
        <!--<button   class="arrow-button" onclick="location.href='/addPhone'">Add Phone</button>-->
    </div>


</div>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>
