<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div>Список телефонов</div>
{{#messages}}
<div>
    <b>{{id}}</b>
    <span>{{manufacturer}}</span>
    <i>{{productName}}</i>
    <i>{{price}}</i>
    <span>{{productCount}}</span>
</div>
{{/messages}}
</body>
</html>