<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet"  href="style.css" />-->
    <meta charset="UTF-8">
    <title>Main Page</title>
    <style type="text/css">
        TABLE {
            background: #803e7d; /* Цвет фона таблицы */
            color: #f2f2f2; /* Цвет текста */
        }
        TD {
            background: #5b979b; /* Цвет фона ячеек */
        }
    </style>
</head>
<body>
<div>Список телефонов</div>
<table align="center">

    <tr>
        <th>№ п/п</th>
        <th>Производитель</th>
        <th>Наименование Модели</th>
        <th>Колличесвто на складе</th>
        <th>Цена, $.</th>
    </tr>
    {{#messages}}
    <tr>
        <td>{{id}}</td>
        <td>{{price}}</td>
        <td>{{date}}</td>
    </tr>
    {{/messages}}

</table>

</body>
</html>