<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/styles.css}" />
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>



<h1 class="text-justify">Registration Page</h1>

<div th:text="${message}"></div>
<form th:action="@{/registration}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Add new User"/></div>
</form>
</body>
</body>
</html>